@CHARSET "ISO-8859-1";

* { margin:0; padding:0; border: none; font-family:"museo-sans-1","museo-sans-2", Helvetica; color: #fff; } 
p{color: #fff; font-family: helvetica, arial;}
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
body{background: #eae8e6 url("../images/background_white.jpg") center center no-repeat;}
#main { padding-bottom: 36px; }  /* must be same height as the footer */
#footer {position: relative;margin-top: -36px; background: #000; height: 36px;clear:both;} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */




/* content  */
#content{width: 100%; height: 100%; margin: 30px 0;}
#content td{width: 50%; }
.content h1{color: #aa332f; font-size: 26px; line-height: 32px; font-weight: 100; border-top: 1px solid #e2ddd5; margin: 26px 0 20px 0; padding-top: 26px;}
.content .pad{text-align: center; width: 340px;}
.content ul, .content li{list-style-type:none; text-align: center; color: #514742;}
.content li{font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style:italic; font-weight: normal; padding: 3px 0;}
.content .email{margin-top: 26px;background: #f5f2ef; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; text-align: center; padding: 18px; }
.content .email p{color: #6b5e58; font-size: 13px; text-align: center; }

.content .form-text{background: url("../images/bg_form.jpg") top left no-repeat; width: 212px; height: 28px; float: left; margin-right: 10px; color: #444444; padding-left: 5px; line-height: 28px; font-size: 13px;}

.content .form-submit{color: #fff; background: url("../images/b_small.png") top left no-repeat; width: 74px; height: 30px; text-decoration: none; text-align:center; line-height: 30px; font-size: 13px;}
.content .form-submit:hover{background-position: bottom left;}

#message_box{ display: none !important; margin: -10px 0 10px; width: 100%; color: #fff; font-size: 11px; background: url(../images/arrow_error.png) 8px 6px no-repeat; padding-top: 6px;  }
#message_box .error, .messages.error  { -moz-border-radius:3px 3px 3px 3px; background:none repeat scroll 0 0 #CC3333; padding:5px; width:180px; color: #fff; border: 0px solid #000; }
.messages.error {width: auto; font-size: 11px;}
.messages.error a{text-decoration:underline;}
.form-type-checkbox #message_box {float: right; margin-top: 1px;}

.errorSplashBox {display: none; background: url("../images/arrow_error.png") 8px 0px no-repeat; font-size: 11px; padding-top: 6px;-moz-border-radius:3px 3px 3px 3px;  width:180px; color: #fff; border: 0px solid #000;}
.errorSplashBox .error{ -moz-border-radius:3px 3px 3px 3px; text-align: left; background:none repeat scroll 0 0 #CC3333; padding:5px; width:180px; color: #fff; border: 0px solid #000; }

#fm-users-register-intro-form{overflow: hidden;}

.supersized-img {cursor: pointer;}

/* footer */

#footer .footer_pad{padding: 0 15px 0 0; line-height: 36px;}
#footer .msg{float: right; text-align: right; font-size: 12px; color: #c8b8b0;}
#footer  a{text-decoration:none; font-size: 12px; color: #fff; }
#footer .link{padding: 0 16px; border-right: 1px solid #3c2f28; float: left;  }
#footer .link:hover, #footer .msg a:hover{color: #c8b8b0;}
#footer .social{float: left; width: 60px; padding-left: 16px;}
#footer .social img{margin: 0 3px 0 0 ;}

