* {  margin:0; padding:0; border: none; font-family:"museo-sans-1","museo-sans-2", Helvetica; color: #fff;} 
p{color: #fff; font-family: helvetica, arial;}
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 36px; }  /* must be same height as the footer */
#footer {position: relative;margin-top: -36px; background: url(../images/bg.png); height: 36px;clear:both;} 
input[type="button"], input[type="submit"], button {cursor:pointer;}
a {text-decoration: none }
a:hover {text-decoration: underline; }

.button, .form-submit {-moz-border-radius:4px 4px 4px 4px;background:url("../images/b_bg_brown.jpg") repeat scroll left top transparent;border:medium none;color:#FFFFFF;font-family:"museo-sans-1","museo-sans-2",Helvetica;font-size:12px;font-style:normal;margin:10px 0;padding:6px 12px;}

/* content  */

#box{ width: 320px; margin: 3% 0 0 6%;; float: left;}
#box .pad{padding: 30px;background: url(../images/bg.png);}
#box p{margin: 0 0 13px 0; color: #c8b8b0;font-size: 15px; line-height:18px; position: relative; top: -4px;  }

span{color: #fff; font-weight:500}
h1 {color:#FFFFFF;font-size:22px;font-weight:300;margin:0 0 2px;}
h2 {color:#C5B5A8;font-size:15px;font-weight:700;line-height:22px;margin:0 0 8px;}
h2 span {color:#FFFFFF;font-weight:700;}
.logo{border-bottom: 1px solid #392d26; margin-top: 0px; margin-bottom: 16px; padding-bottom: 12px;}
.logo img{margin-bottom: 12px; }

.register {padding:30px 0 0;}
.register .button {font-size:14px;padding:7px 18px;}
.red {background-image:url("../images/b_bg_red.jpg");}
.buttonFB {display:block;margin:25px 0;}

#block-user-login {height: 93px; }
.login h2 {font-weight: normal; color:#C5B5A8;font-size:13px;line-height:13px;margin:0 0 6px;padding:0;text-transform:uppercase;}
.login {height: auto; overflow: auto; background: none repeat scroll 0 0 #000000; }
.login .form-text {color: #72655C; font-size: 12px; width: 121px; background:url("../images/bg_field.jpg") repeat-x scroll left top transparent;
border:1px solid #CBC1BE; height: 23px; line-height: 23px;  margin:4px 0 2px;  padding-left:4px;}
.login .form-item, .login .form-actions {margin: 0px !important; display: inline}
.login .form-submit {float:right;font-size:12px;line-height:13px;padding:5px 10px; width: 64px; margin-right: 3px;  }
.login  .form-submit:hover {background-position: left bottom;}
.login a.forgotPassword {color:#8A766B;font-family:Georgia,"Times New Roman",Times,serif;font-size:11px;font-style:italic;position:relative;top:6px;}
.login a.forgotPassword:hover {text-decoration: none; color: #fff; }
.form-item input.error, .form-item textarea.error, .form-item select.error {
border:0px solid red !important;
}

label { font-size: 12px; color:black;font-weight: normal !important; margin-bottom: 5px;}
.form-item .description {color: #8f837a }

#fm-invite-request-form .form-text, #fm-invite-request-form .form-button, #fm-invite-request-form .form-text-readonly{float: left;}
.form-text, .form-text-readonly { width: 185px; height: 26px; background: url(../images/bg_email.jpg) top left  repeat-x; padding-left: 4px;  border: none;}

#fm-invite-request-form .form-submit {background: url(../images/bg_button_red.png) no-repeat scroll top right;}
#fm-invite-request-form .form-submit:hover {background-position: 0 -26px;}

#message_box { width: 220px; color: #fff; font-size: 11px; background: url(../images/arrow_error.png) 8px 6px no-repeat; padding-top: 6px; margin-top: 3px; }
#message_box .error { -moz-border-radius:3px 3px 3px 3px; background:none repeat scroll 0 0 #CC3333; padding:5px; width:180px; color: #fff; border: 0px solid #000; }

label.invalid { margin-top: 6px; font-size: 11px; -moz-border-radius:3px 3px 3px 3px; background:none repeat scroll 0 0 #CC3333; padding:5px; color: #fff; border: 0px solid #000; }

#fm-invite-send-email-form .form-text, #fm-invite-send-email-form .form-textarea {
border:1px solid #DDDDDD;
width:274px;
background-image:none;
}


#invite{padding: 12px;}
#invite.pad{background:#322b25; background: url("../images/bg_invite.png") repeat scroll 0% 0% transparent !important;}

.extend{position: relative; left: -8px; width: 276px; border-radius: 5px;}
.extend .content {left: 8px; position: relative;}

#twitter_link { background:url("../images/icon_twitter_brown.png") no-repeat scroll 0 0 transparent;
padding-left:25px; }
#facebook_link { background:url("../images/icon_facebook_brown.png") no-repeat scroll 0 0 transparent;
padding-left:25px;}

.shareLinkOptions{width: 100%; margin: 0 0 15px 0; float: left;  }
.shareLinkOptions .box{float: left; width: 85px; text-align: center; font-size: 12px; margin-right: 1px; }
.shareLinkOptions a{ text-decoration: none;}
.shareLinkOptions img{ margin-bottom: 5px;}

.ajax-button { float: left; }
#submitLoader{background:url("../images/colorbox/loading.gif") no-repeat scroll 5px 5px #FFFFFF; float:left; height:32px; margin:-7px 0 0 7px; width:32px;}

.quote {background:url("../images/bg.png") repeat scroll 0 0 transparent; padding:30px;}
.quote a {color:#FFFFFF; font-size:11px;}
.quote p {color:#FFFFFF;font-family:Georgia,"Times New Roman",Times,serif;font-style:italic;}
.quote .byline { color:#C8B8B0; float:right; font-size:11px; text-align:right; width:100px; }


/* Rewards Pop-up */

.signupBox {text-align:center; float:left; height:229px; margin-right:8px; padding:0; width:164px;}
.share { float:left; text-align: center; padding:24px 0 15px 70px;}
#signup5 {background:url("../images/bg_signups_5.jpg") no-repeat scroll left top transparent;}
#signup15 {background:url("../images/bg_signups_15.jpg") no-repeat scroll left top transparent; }
#signup25 {background:url("../images/bg_signups_25.jpg") no-repeat scroll left top transparent; }

.signupBox h1 {color:#FFFFFF; font-size:47px; font-weight:100; line-height:47px; margin:24px 0 4px;}
h2.socialSubtitle  {text-align: center; color:#8A7D71;font-family:Georgia,"Times New Roman",Times,serif;font-size:15px;font-style:italic;font-weight:normal;margin:0;}
.signupBox h3 {border-bottom:1px solid #948D86; color:#8A7D71 font-family:"museo-sans-1","museo-sans-2",Helvetica; font-size:13px; font-style:normal; font-weight:300; line-height:13px; margin:0 26px 16px; padding-bottom:12px; }
.signupBox p {color:#FFFFFF; font-family:"museo-sans-1","museo-sans-2",Helvetica; font-size:14px; font-weight:100; line-height:18px; margin:0; padding:0 20px; }
.signupBox p.value { color:#D7CBC2; font-weight:700; margin-top:14px; }
.social {float:left;width:111px;}
.socialIcon {margin:0 5px 0 0; float:left}
.rewards_link {float:left;}


/* footer */

#footer .pad{padding: 9px 15px 0 0;}
#footer .msg{font-style: normal; font-family: 'museo-sans-1','museo-sans-2',Helvetica; margin: 0px; float: right; text-align: right;font-size: 12px; color: #c8b8b0;}
#footer  a{text-decoration:none; font-weight: 500; font-size: 12px; color: #fff; }
#footer .link{padding: 0 16px; font-weight: 500;  border-right: 1px solid #3c2f28; float: left; height: 20px; }
#footer .link:hover, #footer .msg a:hover{color: #c8b8b0;}
#footer .social{float: left; width: 60px; padding-left: 16px;}
