* { margin:0; padding:0; border: none; font-family:"museo-sans-1","museo-sans-2", Helvetica; color: #fff; } 
p{color: #fff; font-family: helvetica, arial;}
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
body{background: #eae8e6 url("../images/background_white.jpg") center center no-repeat;}
#main { padding-bottom: 36px; }  /* must be same height as the footer */
#footer {position: relative;margin-top: -36px; background: #000; height: 36px;clear:both;}

.rounded-top {border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; }
.rounded-bottom {border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; }



 ul {list-style-type: none; border-top:1px solid #392d26;padding-top:20px;}
 li {font-size:14px;margin:0 0 5px; text-align: center;}
 
.button, .form-submit {-moz-border-radius:4px; -webkit-border-radius: 4px; background:url("../images/b_bg_brown.jpg") repeat scroll left top transparent;border:medium none;color:#FFFFFF;font-family:"museo-sans-1","museo-sans-2",Helvetica;font-size:12px;font-style:normal;margin:10px 0;padding:6px 12px;}

#fb_js_pb{display: none;}
.form-item input.error {border: 1px solid #CBC1BE}



/* content  */
#content{width: 100%; height: 100%; margin: 30px 0;}
#content td{width: 50%; }
.content h1{color: #aa332f; font-size: 26px; line-height: 32px; font-weight: 100; border-top: 1px solid #e2ddd5; margin: 26px 0 20px 0; padding-top: 26px;}
.content .pad{text-align: center; width: 340px;}
.content ul, .content li{list-style-type:none; text-align: center; color: #514742;}
.content li{font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style:italic; font-weight: normal; padding: 3px 0;}
.content .email{margin-top: 26px;background: #f5f2ef; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; text-align: center; padding: 18px; }
.content .email p{color: #6b5e58; font-size: 13px; text-align: center; padding-bottom: 14px;}

.content .form-text{background: url(images/bg_form.jpg) top left no-repeat; width: 212px; height: 28px; float: left; margin-right: 10px; color: #a4968f; padding-left: 5px; line-height: 28px; font-size: 13px;}

.buttonSmall{float: left; color: #fff; background: url("../images/b_small.png") top left no-repeat; width: 74px; height: 30px; text-decoration: none; text-align:center; line-height: 30px; font-size: 13px;}
.buttonSmall:hover{background-position: bottom left;}



.error{font-size: 11px; background: url(images/arrow_error.png) 8px 0px no-repeat; padding-top: 6px; margin-top: 5px; }
.error .box{background: #C33; padding: 5px; width: 180px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}






#message_box{ display: none !important; margin: -10px 0 10px; width: 100%; color: #fff; font-size: 11px; background: url(../images/arrow_error.png) 8px 6px no-repeat; padding-top: 6px;  }
.errorSplashBox {display: none; background: url("../images/arrow_error.png") 8px 0px no-repeat; font-size: 11px; padding-top: 6px;-moz-border-radius:3px 3px 3px 3px;  width:180px; color: #fff; border: 0px solid #000;}
.errorSplashBox .error{ -moz-border-radius:3px 3px 3px 3px; text-align: left; background:none repeat scroll 0 0 #CC3333; padding:5px; width:180px; color: #fff; border: 0px solid #000; }



/* footer */

#footer .pad{padding: 9px 15px 0 0;}
#footer .msg{font-style: normal; font-family: 'museo-sans-1','museo-sans-2',Helvetica; margin: 0px; float: right; text-align: right;font-size: 12px; color: #c8b8b0;}
#footer  a{text-decoration:none; font-weight: 500; font-size: 12px; color: #fff; }
#footer .link{padding: 0 16px; font-weight: 500;  border-right: 1px solid #3c2f28; float: left; height: 20px; }
#footer .link:hover, #footer .msg a:hover{color: #c8b8b0;}
#footer .social{float: left; width: 60px; padding-left: 16px;}
