* { margin:0; padding:0; border: none; } 
p{color: #fff; font-family: helvetica, arial;}
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 36px; }  /* must be same height as the footer */
#footer {position: relative;margin-top: -36px; background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8); height: 36px;clear:both;} 



/* content  */

#box{ width: 360px; background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8); margin-top: 40px; float: left;}
#box .pad{padding: 30px;}
#box p{margin: 0 0 12px 0; color: #c8b8b0; font-family:"museo-sans-1","museo-sans-2", Helvetica; font-size: 15px; line-height:21px;  }
#box p span{color: #fff;}
#box p.intro{font-size: 25px; line-height: 31px;}
.logo img{margin-bottom: 12px; }

.email, .button{float: left;}
.email{ margin: 0 5px 0 0; width: 185px; height: 26px; color: #8f837a; background: url(../images/bg_email.jpg) top left  repeat-x; font-size: 12px; padding-left: 4px; border: none;}
.button{  background: url(images/bg_button.png) no-repeat scroll top right; color: #fff; display: block;  height: 26px; width: 64px; text-decoration: none; line-height: 26px; padding-top: 0px}
.button:hover{background-position: 0 -26px;}







/* footer */

#footer .pad{padding: 9px 15px 0 0;}
#footer .msg{float: right; text-align: right;font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size: 12px; color: #c8b8b0;}
#footer  a{font-family: Georgia, "Times New Roman", Times, serif; text-decoration:none; font-style:italic; font-size: 12px; color: #fff; }
#footer .link{padding: 0 16px; border-right: 1px solid #3c2f28; float: left; height: 20px; }
#footer .link:hover, #footer .msg a:hover{color: #c8b8b0;}
#footer .social{float: left; width: 60px; padding-left: 16px;}
#footer .social img{margin: 0 3px 0 0 ;}